.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60vw;
}

.contact-email {
    height: 30px;
    padding: 0 10px;
    font-family: sans-serif;
}

.contact-txtfield {
    padding: 10px;
    font-family: sans-serif;
}

.contact-submit {
    color: white;
    cursor: pointer;
}

.contact-submit:hover {
    background-color:#FF2247;
}

@media (max-width: 600px) {
    .contact-close {
        width: 60%;
        margin-bottom: 20px;
    }

    .contact-container {
        margin-top: 20px;
    }
}