.contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 60px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60vw;
}

.contact-email {
    height: 30px;
    font-family: sans-serif;
    background: transparent;
    border: 4px solid #1a1a1a;
    padding: 6px 20px;
    border-radius: 10px;
}

.contact-txtfield {
    font-family: sans-serif;
    background: transparent;
    border: 4px solid #1a1a1a;
    padding: 16px 20px;
    border-radius: 10px;
}

.contact-email:focus-visible,
.contact-txtfield:focus-visible {
    outline: 3px solid #FF2247;
}

.contact-submit {
    color: white;
    background-color: #1A1A1A;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-submit:hover {
    background-color: #FF2247;
}

@media (max-width: 600px) {
    .contact-close {
        width: 60%;
        margin-bottom: 20px;
    }

    .contact-container {
        padding: 0 20px;
    }

    .contact-title {
        margin-top: 0;
    }

    .contact-form {
        width: 90vw;
    }
}