.privacy {
    padding: 40px 60px;
}

.privacy-close {
    color: white;
    border: 3px solid #1A1A1A;
}

.privacy-close:hover {
    border: 3px solid #FF2247;
}

@media (max-width: 600px) {
    .privacy-close {
        width: 100%;
        margin-bottom: 20px;
    }

    .privacy {
        padding: 20px 36px;
    }

    .privacy h2 {
        margin-bottom: 0;
    }
}