.searchbar-input {
    width: 420px;
    height: 28px;
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 16px;
    background: transparent;
    border: 2px solid #3a3a3c;
    color: #737376;
}

.submit-button {
    all: unset;
    margin-left: 10px;
    height: 40px;
    padding: 0 20px;
    border-radius: 8px;
    background: black;
    outline: 2px solid white;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
}

.submit-button:disabled {
    cursor: not-allowed;
    background: #3a3a3c;
    outline: 2px solid #737376;
    color: #737376;
}

.submit-button:hover:not(:disabled) {
    cursor: pointer;
    background: #FF2247;
    outline: 2px solid #FF2247;
}

.results-list {
    list-style: none;
    padding: 0;
    border: 2px solid #3a3a3c;
    font-size: 16px;
    width: 440px;
    margin: 10px 0;
    background: #000000;
    position: absolute;
    z-index: 2;
}

.results-list li {
    padding: 12px 0;
    cursor: pointer;
    color: #737376;
    transition: all 0.3s ease;
}

.results-list li:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {

    .results-list,
    .searchbar-input,
    .submit-button {
        font-size: 0.9em;
    }

    .results-list {
        width: 290px;
    }

    .search-form {
        display: flex;
    }

    .searchbar-input {
        width: 100%;
    }
}

@media (max-width: 480px) {

    .results-list,
    .searchbar-input,
    .submit-button {
        font-size: 0.8em;
    }

    .results-list {
        width: 250px;
    }
}