#root {
  color: #525254;
  background-color: #131212;
  min-height: calc(100svh - 16px);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: calc(100svh - 16px);
}

.spacer {
  flex: 1;
}

.Toastify__toast {
  background: #1a1a1b;
  color: #ffffff;
}

.Toastify__progress-bar {
  background: #FF2247;
}

.Toastify__toast-icon svg {
  fill: #FF2247;
}

.footer-container {
  width: calc(100vw - 16px);
  padding: 20px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.2s ease;
}

.footer-button:hover {
  transform: translateY(-1px);
  color: #686868;
}

.footer-icon-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 40px);
  background-color: #1a1a1b;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1002;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.cookie-banner p {
  margin: 0;
  font-size: 14px;
}

.cookie-link {
  color: #FF2247;
  text-decoration: underline;
  cursor: pointer;
}

.cookie-button {
  background-color: #FF2247;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.cookie-button:hover {
  background-color: #d81b3c;
}

.partner-title {
  font-weight: 800;
  color: #d5ab58;
}

.partner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 18px;
}

@media (max-width: 480px) {
  .footer {
    gap: 5px;
  }

  .partner-text {
    margin-top: 10px;
    font-size: 12px;
  }

  .partner-icon {
    font-size: 1.2rem;
  }

  .footer-container {
    padding: 10px 0 20px;
  }

  .footer-icon {
    font-size: 1.2rem;
    display: block;
  }

  .footer-icon-text {
    gap: 0.2rem;
  }

  .footer-text {
    font-size: 12px;
  }

  .trakt-api {
    font-size: 12px;
  }

  .cookie-banner {
    flex-direction: column;
    gap: 10px;
  }
}