#root {
  color: #525254;
  background-color: #131212;
  min-height: calc(100vh - 16px);
}

.app {
 display: flex;
 flex-direction: column;
 min-height: calc(100vh - 16px);
}

.spacer {
  flex: 1;
}

.Toastify__toast {
  background: #1a1a1b;
  color: #ffffff;
}

.Toastify__progress-bar {
  background: #FF2247;
}

.Toastify__toast-icon svg {
  fill: #FF2247;
}

.footer-container {
  width: calc(100vw - 16px);
  padding: 20px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-button {
  cursor: pointer;
}

.footer-icon-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  width: calc(100% - 56px);
  background-color: #1a1a1b;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.cookie-banner p {
  margin: 0;
  font-size: 14px;
}

.cookie-link {
  color: #FF2247;
  text-decoration: underline;
  cursor: pointer;
}

.cookie-button {
  background-color: #FF2247;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.cookie-button:hover {
  background-color: #d81b3c;
}

@media (max-width: 480px) {
  .footer {
    gap: 4px;
  }

  .footer-container {
    padding: 10px 0;
  }

  .footer-text {
    display: none;
  }

  .footer-icon {
    font-size: 1.2rem; 
    display: block;
  }

  .trakt-api {
    font-size: 12px;
  }

  .cookie-banner {
    flex-direction: column;
    gap: 10px;
  }
}